body {
  background-color: rgb(238, 238, 238);
}
#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-overlay {
  position: absolute;
  z-index: 9; 
}

#loading-overlay img {
  height: 230px;
  position: relative;
  top: 300px;
}

.fighters {
  display: flex;
  width: 640px;
  flex-wrap: wrap;
  justify-content: center;
}

.fighter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.fighter:hover {
  border: 0.5px solid gray;
  box-shadow: gray;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: white;
}

.fighter img {
  width: 120px;
  height: 270px;
}